<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IStripperQuickPlayer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <IStripperQuickPlayer.Properties.Settings>
            <setting name="SortBy" serializeAs="String">
                <value>Model Name</value>
            </setting>
            <setting name="NextClipEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NextClipString" serializeAs="String">
                <value>Control+Alt+N</value>
            </setting>
            <setting name="NextCardEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NextCardString" serializeAs="String">
                <value>Control+Alt+C</value>
            </setting>
            <setting name="MinSizeMB" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="EnforceCardFilter" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FavouritesFilter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowRatingStars" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowDescInSearch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowOutfitInSearch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoWallpaper" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WallpaperMonitors" serializeAs="String">
                <value>1,2</value>
            </setting>
            <setting name="WallpaperBrightness" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="WallpaperDetails" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowKitty" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CardScale" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Size" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Minimised" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Maximised" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ZoomOnHover" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="LockPlayer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ToggleLockString" serializeAs="String">
                <value>Control+Alt+L</value>
            </setting>
            <setting name="ToggleLockEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MinimizeToTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BlurWallpaper" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BlurRadius" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="HideDesktopIcons" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SortDirection" serializeAs="String">
                <value>Ascending</value>
            </setting>
            <setting name="UpdateSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Randomize" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DarkMode" serializeAs="String">
                <value>False</value>
            </setting>
        </IStripperQuickPlayer.Properties.Settings>
    </userSettings>
</configuration>